/* App.css */


.port-select{
  width: 360px;
}

@media (max-width: 720px) {
  #calculator-form {
    max-width: 700px;
  }
  .port-select{
    width: 420px;
  }
  
}


@media (max-width: 520px) {
  #calculator-form {
    max-width: 500px;
  }

  .port-select{
    width: 400px;
  }

  .ant-layout-content{
    padding: 0 10px !important;
  
  }

}


@media (max-width: 420px) {
  #calculator-form {
    max-width: 400px;
  }

  .port-select{
    width: 280px;
  }
}



@media (max-width: 380px) {
  #calculator-form {
    max-width: 360px;
  }
}



@media (max-width: 300px) {
  #calculator-form {
    max-width: 280px;
  }
}
